@inject MVC_application.Models.FormattingServices DateFormate
@model MVC_application.Models.Post_Model
<article class="blog-post">
    <h1>@Model.Title</h1>
    <div class="detail">
        Posted <span>@DateFormate.ReadableDate(Model.Posted)</span> by <span>@Model.Author</span>
    </div>
    <div class="content">
        @Model.Body
    </div>
</article>
